
.mainContainer {
    margin: 5%;
    border: 1px solid;
    background-color: #8FC1E3;   
}

.gridContainer {
    text-align: center;
    margin: 3%; 
    
}

.gridContainer p {
    text-align: left;
}

.travelImages {
    padding: 15px;
}

.centerText {
    text-align: center;
}
