/*
#687864 Dark green
#31708E Dark blue
#5085A5 Greyish blue
#8FC1E3 Lighter blue
#F7F9FB Almost white

https://visme.co/blog/website-color-schemes/
*/

.navbar {
    overflow: hidden;
    background-color: #5085A5;
    width: 100%; 
  }

  .navbar a {
    float: left;
    display: block;
    color: #F7F9FB;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: none;
  }

  .navLogo {
    float:inline-end;
  }

  .headerBackground {
    background-color: #5085A5;
  }

  .roundedImage {
    border-radius: 50%;
  }

  .offCanvasButton {
    position: relative;
    float: right;
  }

  /*Taken from W3 schools*/
  .centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .offCanvasNav {
    background-color: #5085A5;
  }

  .offCanvasNavLink a{
    color: #F7F9FB;
    text-align: center;
  }
  

  .navbar a:hover {
    background: #27404f;
    color: black;
  }

  .headshot {
    padding: 30px 30px;
    max-width: 100%;
    height: auto;
  }

  .main {
    margin-top: 5em; 
  }

  .resumeHeader {
    text-align: center;
    line-height: 1;
  }

  .mainPictureStyle {
    padding: 15px;
  }

  .hamburgerButton{
    position: relative;
    top: 15px;
    right: 12px;
  }

  .hamburgerCell {
    background-color: #5085A5;
  }

  .center {
    text-align: center;
  }